* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
body {
    background-color: #f1f5f8;
    font-family: "Open Sans", sans-serif;
}
  
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.container h1{
    text-align: center;
    margin: 20px 0;
    font-size: 56px;
}
.posts{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.pagination {
    display: flex;
    justify-content: center;
  }
  
  .pagination__list {
    display: flex;
    list-style-type: none;  
  }
  
  .pagination__item {
    padding: 15px;
    margin: 25px 0;
    cursor: pointer;
    font-size: 24px;
  }
  
  .pagination__item--active {
    font-weight: 800;
    color: red;
    border: 1px solid black;
    padding: 20px;
  }
  .search{
    display: flex;
    justify-content: end;
    margin-right: 50px;
    gap: 25px;
    margin-top: 10px;
  }
  .search button{
    padding: 12px;
    color: white;
    background-color: blue;
    border-radius: 15px;
  }
  .search button:hover{
    background-color: blueviolet;
  }
#select{
  padding: 15px;
  background-color: gray;
  color: white;
}
.cart{
  padding: 0px 20px;
  color: white;
  background-color: blue;
  border-radius: 15px;
  display: flex;
    justify-content: center;
    align-items: center;
}